.load{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid black;
  border-bottom: none;
  animation: loader 1s linear infinite ;
}


@keyframes loader {
    from{
      transform: rotate(0deg);
    }
    to{
     transform: rotate(360deg);
    }
}